body{
    box-sizing: border-box;
    font-family: 'Charm', cursive;
    margin: 0;
    padding: 0;
}

.container{
    /* width: 100vw; */
   height: 100vh;
    background: grey;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display:flex;
}

.sideView{
    padding: 0 40px;
    width: 25%;
    background: black;
    color: white;
    height: 100%;
    text-align: center;
}
h1{
    font-size: 3rem;
    padding: 40px;
}

h2{
    margin-top: 50px
}

button{
    padding: 8px 30px;
    border: 1px solid white;
    background: black;
    font-size: 15px;
    color: white
}

.image-div{
    width: 75%;
    height: 100%;
    background-image: url(./hamburger-494706_1920.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-sizing: border-box;
    background-attachment: fixed;
    background-color: #464646;
    position: relative;
}

.navBar{
    position: absolute;
    background: red;
    top: 0;
    width: 75%;
    right: 0;
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: white;
    padding: 20px 40px
}

li{
}